@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-card: var(--card);
}

:root {
  /* Light Mode */
  --background: hsl(0 0% 100%);  
  --foreground: hsl(229 84% 5%);     
  --card: hsl(210 40% 98%);           
  --border: hsl(214 32% 91%);  
}

.dark {
  /* Dark Mode */
  --background: hsl(229 84% 5%);
  --foreground: hsl(210 40% 98%);     
  --card: hsl(222 47% 11%);          
  --border: hsl(217 33% 17%);      
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}